body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
button{
    width: 100px;
    height:max-content;
    background-color:#3882F6;
    border:2px solid #3882F6;
    margin-top: 15px;
    padding:5px;
    border-radius: 5%;
}

.sec-text{ 
    font-size: 18px;
}

.white-text{
    color:#E5E7EB;
}

.header, .hero{
    background-color: #1F2937;
    display: flex;
    padding-left: 15%;
    padding-right: 15%;
}

/*header section*/
.header{
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom:25px;
}

.logo{
    color:#F9FAF8;
    font-size:24px;
    font-weight: bolder;
}

ul{
    margin:0;
    padding:0;
    list-style: none; 
    display: flex;
    gap: 30px;
}
li{
    flex-shrink: 0;
}
a{
    text-decoration: none;
    color:#E5E7EB;
}

/*hero section*/
.hero{
    justify-content: space-between;
    align-items: flex-start;
    padding-top:50px;
    padding-bottom:50px;
    gap: 10%;
}

.hero-text{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
.main-text{
    color:#F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    margin-bottom: 15px;
}
.hero-img{
    max-width:50%;
    height:auto;
}


/*info section*/
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    margin-top: 50px;
    margin-bottom: 75px;
    
}

.info-title{
    color:#1F2937;
    font-size: 36px;
    font-weight: extra-bold;
    margin-bottom: 32px;
}
.content{
    display: flex;
    align-items: flex-start;
    gap: 50px;
    
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px;
}

.text{
    color:grey;
}
.information img{
    width:150px;
    height:150px;
    border: 4px solid #3882F6;
    border-radius: 5%;
}


/*quote section*/

.quote-section{
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    padding: 50px;
}
.quote{
    flex-direction: column;
    width:700px;
}

.quote-text{
    color:#1F2937;
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
}

.speaker{
   text-align: end;
   font-weight:bolder;
   font-size: 24px;
}

/*call to action*/
.action-call{
    display: flex;
    background-color: #3882F6;
    justify-content: center;
    align-items: center;
    padding: 32px;
    border-radius: 10px;
    margin:50px 25%;
    gap: 10%
}

.action-title{
    color:#E5E7EB; 
    font-size: large;
    font-weight: bolder;
}

.footer{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 32px;
    color:#E5E7EB;
}

#action-button{
    border: 2px solid #E5E7EB;
    margin: 0px;
}